*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  background-color: pink;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}
header > :first-child{
  margin-right: auto;
}


.mass{
  height: 70px;
  margin: 0 10px;
  padding: 30px 20px;
  background-color: #fff;

  flex-basis: 140px;
}


.main{
  display: flex;
  justify-content: center;
  width: 1000px;

}
.boxes{
  background-color: #00b522;
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box{
  background-color: yellow;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}
.sidebar{
  width: 300px;
  background-color: limegreen;
  margin-right: 0;
}
.footer {
  background-color: #52a1ff;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer > div{
  background-color: #b6e7ff;
  width: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
}
